<!DOCTYPE html>
<html>
  <head>
    <title>TwitterHeatMap</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>

    <script> 
	var count = 0;
	$(document).ready(function(){
            namespace = '/'; // change to an empty string to use the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            socket.on('connect', function() {
                $.getScript("https://maps.googleapis.com/maps/api/js?key=AIzaSyCio7J2K2lgxWFnwBuQFJK4la0m4nzNihg&signed_in=true&libraries=visualization&callback=initMap")
                socket.emit('connected', {data: 'client connected!'});
            });

            socket.on('mapdata', function(msg) {
                updateMapPoints(msg.coordinates);
            });
			
            $('form#filter').submit(function(event) {
                socket.emit('keywordchange', {keyword: $('#keywords').find(":selected").text()});
                filterMapPoints();
                return false;
            });
        });
    </script>

    <script>

    var map, heatmap, mapPoints;

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 2,
        center: {lat: 0, lng: 0},
        mapTypeId: google.maps.MapTypeId.SATELLITE
      });

      initHeatMap();
    }

    function initHeatMap() {
      getMapPoints();
      heatmap = new google.maps.visualization.HeatmapLayer({
        data: mapPoints,
        map: map
      });
    }

    function getMapPoints() {
      temp = getPoints();
      mapPoints = new google.maps.MVCArray(temp);
    }

    function filterMapPoints() {
      while(mapPoints.length) {
         mapPoints.pop();
      }
    }

    function updateMapPoints(coordinates) {
      mapPoints.push(new google.maps.LatLng(coordinates[1], coordinates[0]));
    }

    function toggleHeatmap() {
      heatmap.setMap(heatmap.getMap() ? null : map);
    }

    function changeGradient() {
      var gradient = [
        'rgba(0, 255, 255, 0)',
        'rgba(0, 255, 255, 1)',
        'rgba(0, 191, 255, 1)',
        'rgba(0, 127, 255, 1)',
        'rgba(0, 63, 255, 1)',
        'rgba(0, 0, 255, 1)',
        'rgba(0, 0, 223, 1)',
        'rgba(0, 0, 191, 1)',
        'rgba(0, 0, 159, 1)',
        'rgba(0, 0, 127, 1)',
        'rgba(63, 0, 91, 1)',
        'rgba(127, 0, 63, 1)',
        'rgba(191, 0, 31, 1)',
        'rgba(255, 0, 0, 1)'
      ]
      heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
    }

    function changeRadius() {
      heatmap.set('radius', heatmap.get('radius') ? null : 20);
    }

    function changeOpacity() {
      heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
    }

    function getPoints() {
      return [
        new google.maps.LatLng(37.46, -122.26),
      ];
    }
    </script>
  </head>
  <body>
    <div id="map" style="width:1100px;height:650px;"></div>
	<button onclick="changeRadius()">Change radius</button>
	<button onclick="toggleHeatmap()">Toggle HeatMap</button>
	<button onclick="changeGradient()">Change Gradient</button>
	<button onclick="changeOpacity()">Change Opacity</button>
	
	</br>
	<h4>Filter by Keyword</h4>
	
    <form id="filter" method="POST" action='#'>
    <select id='keywords' name='keywords'>
	<option value='love'>love</option>
	<option value='trump'>trump</option>
	<option value='football'>football</option>
	<option value='tech'>tech</option>
	<option value='india'>india</option>
    </select>
    <input type="submit" value="Filter">
    </form>

    
  </body>
</html>
